<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="addSchemaName" value="true" />
        <option name="addSerializeUid" value="true" />
        <option name="batchInsert" value="true" />
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="generatedClassPathList">
          <list>
            <option value="C:\Users\Administrator\IdeaProjects\jc-message\jc-message-server\src\main\java\com\jc\message\server\entity" />
            <option value="C:\Users\Administrator\IdeaProjects\jc-message\jc-message-server\src\main\java\com\jc\message\server\entity\do" />
          </list>
        </option>
        <option name="insertOnDuplicateKey" value="true" />
        <option name="javaMapperPackage" value="com.jc.message.server.mapper" />
        <option name="javaMapperPath" value="C:\Users\Administrator\IdeaProjects\jc-message\jc-message-server\src\main\java" />
        <option name="javaModelPackage" value="com.jc.message.server.entity.DO" />
        <option name="javaModelPath" value="$PROJECT_DIR$/jc-message-server/src/main/java" />
        <option name="javaModelTrimString" value="true" />
        <option name="lastDatabaseCrudChooseModuleName" value="jc-message-server" />
        <option name="mapperAnnotaion" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="jc-message-server">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.jc.message.server.mapper" />
                  <option name="javaMapperPath" value="C:\Users\Administrator\IdeaProjects\jc-message\jc-message-server\src\main\java" />
                  <option name="javaModelPacakge" value="com.jc.message.server.entity.DO" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/jc-message-server/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.jc.message.server.service" />
                  <option name="javaServiceInterfacePath" value="C:\Users\Administrator\IdeaProjects\jc-message\jc-message-server\src\main\java" />
                  <option name="javaServicePackage" value="com.jc.message.server.service.impl" />
                  <option name="javaServicePath" value="C:\Users\Administrator\IdeaProjects\jc-message\jc-message-server\src\main\java" />
                  <option name="xmlPackage" value="com.jc.message.server.mapper" />
                  <option name="xmlPath" value="C:\Users\Administrator\IdeaProjects\jc-message\jc-message-server\src\main\resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="mybatisPlusStaticField" value="false" />
        <option name="tableGenerateConfigs">
          <map>
            <entry key="jc_message:message">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="generatedKey" value="id" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="MessageDO" />
                  <option name="moduleName" value="jc-message-server" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="updateBatch" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="updateBatch" value="true" />
        <option name="userMybatisPlus" value="true" />
        <option name="xmlMapperPackage" value="com.jc.message.server.mapper" />
        <option name="xmlMapperPath" value="C:\Users\Administrator\IdeaProjects\jc-message\jc-message-server\src\main\resources" />
      </ProjectProfile>
    </option>
  </component>
</project>